div {
    width: fit-content;
    height: auto;
    padding: 20px;
    border: 2px solid red;
    margin: 20px;
}

#custom-style {
    font-size: 4px;
    color: blueviolet;
}

footer {
  margin-top: 10px;
  text-transform: lowercase;
  letter-spacing: -1px;
  text-decoration: underline overline;
  text-align: center;
}
